<%-include('head.ejs')%>

<body>
    <div class="container">
        <h1 class="text-center ">Utilisateurs</h1>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center "></th>
                    <th scope="col" class="text-center ">Nom </th>
                    <th scope="col" class="text-center ">Email</th>
                    <th scope="col" class="text-center ">Numero</th>
                    <th scope="col" class="text-center ">Adresse</th>
                    <th scope="col" class="text-center ">Supprimer</th>

                </tr>
            </thead>
            <tbody>
                <% var index = 1%>
                <% for(var i of user){%>
                <tr>
                    <td class="text-center "><%=index++%></td>
                    <td class="text-center "> <%=i.nom%> <%=i.prenom%> </td>
                    <td class="text-center "><%=i.email%></td>
                    <td class="text-center "><%=i.telephone%></td>
                    <td class="text-center "><%=i.adresse%> </td>
                      <td class="text-center "><a href="/admin/supprimeruser/<%=i._id%>"><button class="btn btn-danger">Supprimer</button></a></td>
  </tr>
                <%}%>
          </table>
          <div class="text-center "><a href="/admin/admin"><button class="btn btn-secondary">Retour</button></a></div></div>
</body>