<!DOCTYPE html>
<div style="background-color: #97d87e;" class="d-flex bd-highlight">
    <div style="font-family: Gabriola;font-size: 25px;margin-left: 20px;color:azure"  class="p-2 flex-grow-1 bd-highlight"><b>+216 58 15 34 61     |     manel.garaya@gmail.com </b></div>
    <div style="font-family: Gabriola;font-size: 25px;color:azure" class="p-2 bd-highlight"><img style="margin-right: 60px;" width="50" src="/images/camion.png"/><b>Livraisons gratuites dès 99 DT d'achat!! </b></div>
    <div class="p-2 bd-highlight">    </div>
  </div>
<%-include('head3.ejs')%>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <%-include('logomini3.ejs')%>

    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <%-include('logo2.ejs')%>

                <div class="col-xl">
                    <nav style="margin-left:50px" class="header__menu">
                        <ul>
                            </li>
                            <li class=""><a href="/médicaments"  ><b>Médicaments</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'médicaments'){ %>
                               <li><a href="/médicaments/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                
                            </li>
                            <li><a href="/complements Alimentaire"><b>Complément alimentaire</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'complements Alimentaire'){ %>
                               <li><a href="/complements Alimentaire/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                            <li><a href="/corps"><b>corps</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'corps'){ %>
                               <li><a href="/corps/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                            <li><a href="/visage"><b>visage</b></a> <ul class="dropdown">
                                <% for(let i of souscat ){ %>
                                   <% if(i.categorie == 'visage'){ %>
                           <li><a href="/visage/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                           <% } %>
                           <% } %>

                    </ul></li>
                            <li><a href="/solaire"><b>solaire</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'solaire'){ %>
                               <li><a href="/solaire/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                            <li><a href="/bébé"><b>bébé</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'bébé'){ %>
                               <li><a href="/bébé/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                            <li><a href="/hygiène"><b>hygiène</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'hygiène'){ %>

                               <li><a href="/hygiène/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                            <li><a href="/homme"><b>Homme</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'homme'){ %>
                               <li><a href="/homme/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul></li>
                            <li><a href="/accessoires"><b>accessoires</b></a>

                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'accessoires'){ %>
                               <li><a href="/accessoires/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                            <li><a href="/matériels médicaux"><b>matériels médicaux</b></a>
                                <ul class="dropdown">
                                    <% for(let i of souscat ){ %>
                                       <% if(i.categorie == 'matériels médicaux'){ %>
                               <li><a href="/matériels médicaux/<%=i.souscategorie%>"><%=i.souscategorie%></a></li>
                               <% } %>
                               <% } %>
    
                        </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <br>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
       
    </header>

    <% if ( length == 0 ){%>
<div style="height: 500px;text-align: center;margin-top: 100px;font-size: 30px;"><b  >Pas des produits</b></div>
    <%}else{%>
     <!-- Breadcrumb Begin -->
     <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Accueil</a>
                        <a href="/<%=cat%>"><%=cat%></a>
                        <a href="/<%=cat%>/<%=sousc%>"><%=sousc%></a>
                        <span><%=soussousc%></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                               
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                        

                                         
                                    <%for (let a of souscat){%>
                                        <% if (a.categorie === cat ){%>
                                            <tr>
                                    <th scope="col"> <b><a style="color: black;" href="/<%=cat%>/<%= a.souscategorie%>"> <%= a.souscategorie%></a></b></th>
                                 
                                  </tr>
                                <br>
                                    <%for (let s of soussouscat){%>
                                        <% if (s.souscategorie === a.souscategorie ){%>
                                            <% if (s.categorie === cat ){%>
                                                
                                                <tr>

                                                <td scope="col"><a style="color: black;" href="/<%=cat%>/<%= a.souscategorie%>/<%= s.soussouscategorie%>"> <%= s.soussouscategorie%> </a></td><br>
                                            </tr>

                                        <% } %>

                                        <% } %>
                                        <% } %>

                                 
                                  <br>                                          <% } %>
                                  <% } %>

                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <% for (let produit of produits){ %>
                            <% if(length == 0 ){ %>
                                <div>vide</div>
                           <% } %>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item card">
                                <div class="product__item__pic "  style="background-image : url('../../img/product/<%=produit.urlimage %>');background-size: contain;background-repeat: no-repeat; background-position: center;">
                                    <ul class="product__hover">
                                        <li><a href="../../img/product/<%=produit.urlimage %>" class="image-popup"><span class="arrow_expand"></span></a></li>

                                        <% if(check){%>
                                            <li><a href="/favorite/<%=produit._id %>/<%=produit.prix %>/<%=produit.nom %>/<%=produit.urlimage %>"><span class="icon_heart_alt"></span></a></li>

                                            <li><a href="/add/<%=produit._id %>/<%=produit.prix %>/<%=produit.nom %>/<%=produit.urlimage %>"><span class="icon_bag_alt"></span></a></li>
                                           <%}else{%>
                                            <li><a href="/user/signin"><span class="icon_heart_alt"></span></a></li>
                                            <li><a href="/user/signin"><span class="icon_bag_alt"></span></a></li>

                                        <% } %>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="/description/<%=produit._id %>"><%=produit.nom %></a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price"><%=produit.prix %> DT</div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
<%}%>
    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@pharmaliv.tn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@pharmaliv.tn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@pharmaliv.tn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@pharmaliv.tn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@pharmaliv.tn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="../../img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@pharmaliv.tn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="../../img/logo/logo.jpg" alt=""></a>
                        </div>
                        <p>votre pharmacie en ligne,bienvenue sur notre plateforme</p>
                        <div class="footer__payment">
                            <a href="#"><img src="../../img/payment/payment-1.png" alt=""></a>
                            <a href="#"><img src="../../img/payment/payment-2.png" alt=""></a>
                            <a href="#"><img src="../../img/payment/payment-3.png" alt=""></a>
                            <a href="#"><img src="../../img/payment/payment-4.png" alt=""></a>
                            <a href="#"><img src="../../img/payment/payment-5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>catégorie</h6>
                        
                        <ul>
                            <li><a href="#">médicaments</a></li>
                            <li><a href="#">vitalité</a></li>
                            <li><a href="#">corps</a></li>
                            <li><a href="#">visage</a></li>
                            <li><a href="#">solaire</a></li>
                        </ul>
                        
                       
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6></h6>
                        <br>
                        <ul>
                            <li><a href="#">bébé</a></li>
                            <li><a href="#">hygiène</a></li>
                            <li><a href="#">homme</a></li>
                            <li><a href="#">accessoires</a></li>
                            <li><a href="#">matériels médicaux</a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Compte</h6>
                        <ul>
                            <li><a href="../../../">accueil</a></li>
                            <li><a href="../../../user/signin">Mon compte</a></li>
                            <li><a href="../../../user/signup">S'inscrire</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>Nouveaux clients</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Abonnée</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    
    <!-- Search Begin -->
    <div class="search-model">1
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/mixitup.min.js"></script>
    <script src="../../js/jquery.countdown.min.js"></script>
    <script src="../../js/jquery.slicknav.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/jquery.nicescroll.min.js"></script>
    <script src="../../js/main.js"></script>
</body>

</html>